<!DOCTYPE html>
<html>
<head>
	<title>Simple Storage Service</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
	<table>
		
		<tr>
			<td>
				<form id="formUpload" action="/csv_upload" enctype="multipart/form-data" method="post">
				<p class='description'></p> Please upload your documents here:<br><input type = "file" name="file_upload"><input type="submit" value="Submit" id="submit_file">
				</form>
			</td>
		</tr>
		
	</table>
</body>
</html>
